<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>社区</title>
</head>

<body>
  <header class="community-header clearfix">
    <ul class="left">
      <li>全部</li>
      <li>策略&研究</li>
      <li>问答</li>
      <li>分享</li>
      <li>公告&活动</li>
      <li>精华</li>
    </ul>
    <aside class="right search ">
      <input type="text" placeholder="标题 / 作者 / 内容">
      <button class="iconfont">&#xf0a8</button>
    </aside>
  </header>
  <div id="community-template"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>

</html>
