<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>检测策略</title>
</head>

<body>
  <section class="left code-area">
    <div class="toolbar-inner clearfix">
      <div class="right pull-options">
        <span id="time"><time>运行代码</time></span>
        <span>API</span>
        <span><ins class="iconfont">&#xf0a8;</ins></span>
        <span class="setting-btn"><ins class="iconfont">&#xe608;</ins> <ins class="iconfont small">&#xe615;</ins></span>
        <span><ins class="iconfont">&#xe620;</ins></span>
      </div>
      <ul id="setting-theme">
        <li class=" fontsize" data-fontsize="small">
          小号字体
        </li>
        <li class="active fontsize" data-fontsize="middle">
          中号字体
        </li>
        <li class="fontsize" data-fontsize="big">
          大号字体
        </li>
        <li class="theme" data-theme="eclipse">
          浅色背景
        </li>
        <li class="active theme" data-theme="monokai">
          深色背景A
        </li>
        <li class="theme" data-theme="github">
          深色背景B
        </li>
        <li class="active keybinding" data-keybinding="default">
          默认
        </li>
        <li class="keybinding" data-keybinding="emacs">
          Emacs
        </li>
        <li class="fullscreen" data-fullscreen="fullscreen">全屏</li>
      </ul>
    </div>
    <div class="code-iframe">
        <div name="text" id="editor"></div>
    </div>
  </section>
  <div class="result-iframe right">
    <div class="chater" id="container">
      请运行代码......
    </div>
    <div class="logger-container">
      <ul id="logger" class="clearfix">
        <li class="left active">日志</li>
        <li class="left">错误</li>
      </ul>
      <aside class="logger-article">
        <div class="logs-details start-details">
          <span class="message">正在加载日志...</span>
        </div>
        <div class="logs-details end-details hidden">
          <pre>
            <p class="python">
              <span class="log-date">2016-06-01 09:30:00</span> - <span class="log-warning">WARNING</span> -
              开仓数量必须是100的整数倍，调整为 9500: Order(security=000001.XSHE mode=OrderValue: _value=100000.0
              style=MarketOrderStyle side=long margin=False entrust_time=None)
            </p>
            <p class="python">
              <span class="log-date">2016-06-01 09:30:00</span> - <span class="log-info">INFO</span> -
              开仓数量必须是100的整数倍，调整为 9500: Order(security=000001.XSHE mode=OrderValue: _value=100000.0
              style=MarketOrderStyle side=long margin=False entrust_time=None)
            </p>
          </pre>
        </div>
        <div class="logs-details error-details hidden">
          <pre>
            <p class="python">
              <span class="log-date">2016-06-01 09:30:00</span> - <span class="log-error">WARNING</span> -
              开仓数量必须是100的整数倍，调整为 9500: Order(security=000001.XSHE mode=OrderValue: _value=100000.0
              style=MarketOrderStyle side=long margin=False entrust_time=None)
            </p>
          </pre>
        </div>
      </aside>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ext-language_tools.js"></script>
</body>

</html>
