<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>策略商城</title>
</head>

<body>
  <section class="shopList-container">
    <nav class="nav">
      <ul>
        <li class="active price">累计收益</li>
        <li>近一个月</li>
        <li>近三个月</li>
        <li>近六个月</li>
        <li>适合资金</li>
        <li>订阅价格</li>
        <li>剩余数量</li>
      </ul>
    </nav>
  </section>
  <div id="template"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>

</html>
