{{#data}}
<section class="list-filter clearfix">
  <aside class="totle left">共有{{totalCount}}个帖子</aside>
  <aside class="sort right">
    <span class="redata">最新</span>
    <span class="review">查看</span>
    <span class="recount">收藏</span>
  </aside>
</section>
{{!-- 引入模板 --}}
{{> ./community.group.list.hbs}}
{{/data}}
