/**
 *
 * html5 app v3.2.9 版本叠加css
 *
 **/

* {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

.bg_3ea {
  background: #eaeaea;
  height: auto;
}

ul li {
  list-style: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clear {
  clear: both;
}

.clamp_1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clamp_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.over_h {
  overflow: hidden;
}
/* 公司介绍页面 */

.section-content {
  padding: .28rem .3rem .46rem;
  background: #fff;
}

.section-content h5 {
  margin: 0;
  padding: 0;
  font-size: .18rem;
  line-height: .4rem;
  font-weight: normal;
  color: #8d8d8d;
}

.section-content p {
  margin: 0;
  padding-top: 0.08rem;
  line-height: .44rem;
  font-size: .24rem;
  font-weight: normal;
  text-align: justify;
  color: #262e38;
}

/* 常见问题 */

.inner_isFlag {
  margin-left: 0.1rem;
  width: .68rem;
  height: .24rem;
  display: inline-block;
}

.inner_isFlag img {
  display: block;
  width: 100%;
}

.common-problem {
  padding-bottom: 1.2rem;
  overflow: hidden;
}

.common-problem .compro-list {
  margin-bottom: .2rem;
  padding: .3rem .4rem .3rem .3rem;
  background: #fff;
}

.compro-list .com_qs {
  display: -webkit-box;
  /* -webkit-box-align:center; */
  display: flex;
  /* align-items: center; */
  margin-bottom: .2rem;
  font-size: .28rem;
  margin-left: -0.1rem;
}

.compro-list .com_qs img {
  display: block;
  width: .55rem;
  height: .55rem;
  margin-right: .1rem;
}

.compro-list .com_qs span {
  display: block;
  color: rgb(57, 57, 57);
  line-height: .35rem;
  padding: .1rem 0;
  font-weight: 800;
}

.compro-list .com_as {
  display: table;
  width: 100%;
  font-size: .24rem;
}

.compro-list .com_as .com_as_side {
  display: table-cell;
  width: .34rem;
  text-align: center;
  vertical-align: middle;
  font-style: normal;
  text-decoration: none;
  background: rgb(196, 156, 121);
  color: #fff;
}

.compro-list .com_as .com_as_cell {
  display: table-cell;
  padding: 0 .2rem;
  border: 1px solid rgb(225, 225, 225);
  border-left: none;
}

.compro-list .com_as_cell p {
  font-size: .24rem;
  color: rgb(57, 57, 57);
  margin: .2rem 0;
}

.compro-list .com_as_cell img {
  display: block;
  width: 3rem;
  height: 2rem;
  margin: .2rem 0;
  background: #ccc;
}

.pro_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1rem;
  line-height: 1rem;
  background: rgb(255, 108, 0);
  color: #fff;
}

.pro_footer a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: .36rem;
  color: #fff;
  text-align: center;
}

.com_tip_updata {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  perspective: 800px;
}

.com_tip_updata .wrap_tp {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 7rem;
  -webkit-transform: perspective(1px) translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: #fff;
}

.com_tip_updata .wrap_tp ins {
  position: absolute;
  top: -.6rem;
  right: -0.17rem;
  width: .6rem;
  height: .6rem;
}

.com_tip_updata .wrap_tp ins img {
  display: block;
  width: 100%;
}

.wrap_tp .show_tip {
  padding: .14rem .4rem .4rem .4rem;
}

.wrap_tp .show_tip h4 {
  line-height: .8rem;
  font-size: 0.28rem;
  font-weight: normal;
  color: rgb(57, 57, 57);
}

.wrap_tp .show_tip .border {
  border: 1px solid rgb(174, 174, 174);
}

.wrap_tp .show_tip .edit_content {
  height: 2.74rem;
  padding: .1rem;
  line-height: 1.5em;
  border: none;
  color: rgb(57, 57, 57);
  font-size: .26rem;
  -webkit-user-select: text;
  user-select: text;
  overflow-y: scroll;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .wrap_tp .show_tip .edit_content {
    /* border-width: 0.5px; */
  }
}

.wrap_tp .show_tip a {
  display: block;
  width: 2.05rem;
  height: .65rem;
  text-align: center;
  margin: .24rem auto 0;
  font-size: .28rem;
  background: rgb(240, 97, 72);
  color: #fff;
  line-height: .65rem;
}

/* 出入金 */

.exit-entry .table_list {
  margin-top: .2rem;
}

.exit-entry .table_list li:nth-of-type(odd) {
  background: #fff;
}

.exit-entry .table_list li:nth-of-type(even) {
  background-color: #f7f7f7;
}

.exit-entry .table {
  display: table;
  width: 100%;
}

.exit-entry .table.t_head {
  /* padding-top: .14rem; */
  height: .9rem;
}

.exit-entry .table.t_head span:nth-of-type(1) {
  padding-top: .06rem;
  font-size: .36rem;
  color: #262e38;
}

.exit-entry .table.t_head span {
  padding-top: .2rem;
  color: #8d9196;
}

.exit-entry .table.t_body {
  height: .6rem;
}

.exit-entry .table.t_body span {
  color: #262e38;
}

.exit-entry .table.t_body span:nth-of-type(1) {
  color: #8d9196;
}

.exit-entry .table span {
  display: table-cell;
  /* width: 37.2%; */
  padding: .1rem;
  font-size: .24rem;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
}

.exit-entry .table span:nth-of-type(1) {
  width: 1.92rem;
}

.exit-entry .table span:nth-of-type(2) {
  width: 3.6rem;
}

.exit-entry .table span:nth-of-type(3) {
  width: 1.98rem;
  padding-left: 0;
  padding-right: 1rem;
}

/* 主页修改 */

.homeLists {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .4rem .1rem .34rem;
  border-bottom: .2rem solid #eaeaea;
  background: #fff;
}

.homeLists a {
  display: block;
  margin: 0 .2rem;
}

.homeLists a img {
  display: block;
  height: .8rem;
  width: .8rem;
  margin: 0 auto;
}

.homeLists span {
  display: block;
  line-height: .34rem;
  font-size: .24rem;
  color: rgb(38, 45, 56);
  text-align: center;
}

.investLists {
  position: relative;
  overflow: hidden;
  background: #fff;
  border-bottom: .2rem solid #eaeaea;
}

.investLists:before, .investLists:after {
  content: "";
  position: absolute;
  background-color: #f1f1f1;
}

.investLists:before {
  left: .03rem;
  right: .03rem;
  top: 50%;
  height: 1px;
  -webkit-transform: translateY(-50%) scaleY(0.5);
  transform: translateY(-50%) scaleY(0.5);
}

.investLists:after {
  left: 50%;
  bottom: .12rem;
  top: .22rem;
  width: 1px;
  -webkit-transform: translateX(-50%) scaleX(0.5);
  transform: translateX(-50%) scaleX(0.5);
}

.investLists[data-underline="1"]:before, .investLists[data-underline="1"]:after {
  display: none;
}

.investLists[data-underline="2"]:before {
  display: none;
}

.investLists ul {
  overflow: hidden;
}

.investLists li {
  position: relative;
  float: left;
  width: 50%;
}

.investLists li a {
  overflow: hidden;
  padding: 0 .25rem 0 .35rem;
  height: 1.44rem;
  font-size: .24rem;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.investLists li .area_cms {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  max-width: 2.2rem;
}

.investLists li img {
  display: block;
  width: .9rem;
  height: .9rem;
  background: #ccc;
}

.investLists li h3 {
  overflow: hidden;
  line-height: .24rem;
  font-size: .22rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #343434;
}

.investLists li p {
  line-height: .3rem;
  overflow: hidden;
  font-size: .18rem;
  height: .6rem;
  color: #535353;
}

.investLists li p:nth-of-type(1) {
  margin-top: .12rem;
}

/* 分享页修改 */

.inNavigation ul {
  overflow: hidden;
  border-bottom: 0.2rem solid #eaeaea;
}

.inNavigation li {
  position: relative;
  float: left;
  width: 25%;
  padding: .3rem 0;
  box-sizing: border-box;
}

.inNavigation li:nth-of-type(4n+1):after, .inNavigation li:nth-of-type(4n+2):after, .inNavigation li:nth-of-type(4n+3):after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  content: "";
  background: #e0e0e0;
}

.inNavigation li.borb_1 {
  border-bottom: 1px solid #e0e0e0;
}

.inNavigation li a {
  display: block;
  font-size: .24rem;
  color: rgb(38, 45, 56);
}

.inNavigation li a img {
  display: block;
  width: .8rem;
  height: .6rem;
  margin: 0 auto;
}

.inNavigation li a span {
  display: block;
  text-align: center;
  line-height: .24rem;
  margin-top: .1rem;
}

.innerSwiper {}

.innerSwiper .swiper-main {
  height: 2.7rem;
}

.innerSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.innerSwiper .swiper-main .swiper-slide i {
  position: absolute;
  top: .2rem;
  right: 0;
  height: .32rem;
  line-height: .32rem;
  width: .64rem;
  font-size: .2rem;
  text-align: center;
  font-style: normal;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  border-radius: .16rem 0 0 .16rem;
}

.innerSwiper .swiper-container-horizontal>.swiper-pagination-bullets, .innerSwiper .swiper-pagination-custom, .innerSwiper .swiper-pagination-fraction {
  font-size: 0;
  bottom: .26rem;
  text-align: right;
  padding-right: .19rem;
  box-sizing: border-box;
}

.innerSwiper .swiper-pagination-bullet {
  display: inline-block;
  width: .11rem;
  height: .11rem;
  border-radius: 100%;
  background: #4f555f;
  opacity: .9;
}

.innerSwiper .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .07rem;
}

.innerSwiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ccd0d5;
}

/* 盗版警示 */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {}

.piracy-warn li {
  position: relative;
  margin-bottom: .2rem;
  min-height: 1.3rem;
  padding: .3rem .46rem .22rem .3rem;
  font-size: .24rem;
  background: #fff;
}

.piracy-warn li .warn_icon {
  display: block;
  width: 1.22rem;
  height: .7rem;
  border: 1px solid #ccc;
}

.piracy-warn li aside {
  width: 64%;
}

.marl_20 {
  margin-left: .2rem;
}

.piracy-warn li h4 {
  font-size: .3rem;
  line-height: .3rem;
  font-weight: normal;
  color: rgb(52, 52, 52);
}

.piracy-warn li h5 {
  margin-top: .18rem;
  font-size: .18rem;
  /* line-height: .2rem; */
  font-weight: normal;
  color: rgb(52, 52, 52);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.piracy-warn li h5 ins {
  font-style: normal;
  text-decoration: line-through;
}

.piracy-warn li p {
  z-index: 9;
  position: relative;
  padding-top: .22rem;
  line-height: .36rem;
  font-size: .24rem;
  color: rgb(232, 46, 16);
}

.piracy-warn li .warn_mark {
  position: absolute;
  right: 0.16rem;
  top: .3rem;
  width: 1.26rem;
  height: 1.26rem;
}

/* 平台说明 */

.section-wrap ul li {
  padding: .46rem 0 .5rem;
  /* height: 2.19rem; */
  box-sizing: border-box;
  border-top: .1rem solid #eaeaea;
  background: #fff;
}

.section-wrap ul li h3 {
  padding: 0 .32rem;
  font-size: .3rem;
  line-height: .5rem;
  font-weight: normal;
  color: rgb(38, 46, 56);
}

.section-wrap ul li p {
  padding: .15rem .7rem 0 .3rem;
  line-height: .44rem;
  font-size: .24rem;
  text-align: justify;
  color: #8d8d8d;
}

/* 点查表 */

.point-table .t_head {
  position: relative;
  display: table;
  width: 100%;
  height: .8rem;
  background: #eaeaea;
}

.point-table .t_head span {
  display: table-cell;
  padding: 0 0.05rem;
  /* width:15.3675%; */
  width: 1rem;
  font-size: .24rem;
  vertical-align: middle;
  text-align: center;
  color: rgb(38, 45, 56);
}

.point-table .t_head span em {
  display: block;
  height: .8rem;
  width: 1rem;
  line-height: .8rem;
  text-align: center;
}

.point-table .t_head span:nth-of-type(1) {
  width: 2.53rem;
  text-align: left;
  padding-left: .3rem;
}

.point-table .t_head:after {
  content: "";
  position: absolute;
  left: 0.1rem;
  right: 0.1rem;
  bottom: 0;
  background: #eaeaea;
  height: 1px;
}

.point-table .t_body {
  position: relative;
  display: table;
  width: 100%;
  height: .7rem;
  background: #fff;
}

.point-table .t_body span {
  display: table-cell;
  padding: 0 .05rem;
  font-size: 0.24rem;
  text-align: center;
  vertical-align: middle;
  /* width:15.3675%; */
  width: 1rem;
  word-break: break-all;
  color: rgb(38, 45, 56);
}

.point-table em {
  font-style: normal;
}

.point-table .t_body span em {
  display: block;
  height: .7rem;
  width: 1rem;
  line-height: .7rem;
  text-align: center;
}

.point-table .t_body span em.up {
  color: rgb(27, 158, 25);
  background: rgb(199, 245, 198)
}

.point-table .t_body span em.down {
  color: rgb(299, 9, 9);
  background: rgb(255, 204, 204)
}

.point-table .t_body span:nth-of-type(1) {
  width: 2.53rem;
  text-align: left;
  padding-left: .3rem;
}

.point-table .t_body:after {
  content: "";
  position: absolute;
  left: 0.1rem;
  right: 0.1rem;
  bottom: 0;
  background: #f1f1f1;
  height: 1px;
}

.point-table {
  font-size: .24rem;
  overflow: hidden;
}

.left-compony {
  width: 38.4%;
}

.left-compony span {
  overflow: hidden;
  height: .7rem;
  padding-left: .3rem;
  display: -webkit-box;
  -webkit-box-align: center;
  display: flex;
  align-items: center;
  word-break: break-all;
  background: #fff;
  color: rgb(38, 45, 56);
}

.left-compony span:nth-of-type(1) {
  height: .8rem;
  line-height: .8rem;
  background: #eaeaea;
  color: rgb(38, 45, 56);
}

.right-spread {
  width: 61.6%;
}

.right-spread li span {
  display: block;
  text-align: center;
  height: .7rem;
  line-height: .7rem;
  background: #fff;
}

.right-spread li span:nth-of-type(1) {
  height: .8rem;
  line-height: .8rem;
  background-color: #eaeaea;
}

.right-spread li span em {
  margin: 0 0.05rem;
  display: block;
}

.right-spread li span em.up {
  color: rgb(27, 158, 25);
  background: rgb(199, 245, 198);
}

.right-spread li span em.down {
  color: rgb(299, 9, 9);
  background: rgb(255, 204, 204);
}

.right-spread .swiper-wrapper {
  position: relative;
  /* width: 7.7rem; */
}

.right-spread .swiper-slide {
  width: 1.1rem;
  /* float: left; */
}

.right-spread.swiper-container-horizontal>.swiper-scrollbar {
  opacity: 0 !important;
}

/* 实盘测试 */

.real-test {
  font-size: .2rem;
}

.real-test .compare-info {
  margin: 0.2rem 0;
  background: #fff;
}

.real-test .compare-info h3 {
  overflow: hidden;
  height: .54rem;
  line-height: .54rem;
  text-align: center;
  font-size: .24rem;
  font-style: normal;
  color: rgb(39, 39, 39);
  background: #f7f7f7;
}

.compare-info ul {
  height: 1.32rem;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.compare-info ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  max-width: 2.5rem;
  text-align: center;
  height: .75rem;
  position: relative;
}

.compare-info ul li:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: .52rem;
  width: 1px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #f1f1f1;
}

.compare-info ul li:last-child:after {
  display: none;
}

.compare-info ul li h4 {
  line-height: .4rem;
  font-size: .24rem;
  font-weight: normal;
  color: #373737;
}

.compare-info ul li h5 {
  line-height: .35rem;
  font-size: .2rem;
  font-weight: normal;
  color: #aeaeae;
}

.compare-info h3 span {
  display: block;
  -webkit-transform: skew(-10deg, 0);
  transform: skew(-10deg, 0);
}

.real-test .time_wrap {
  display: -webkit-box;
  -webkit-box-align: center;
  display: flex;
  align-items: center;
  height: 1.6rem;
  padding: 0.2rem;
  background: #fff;
  margin: .2rem 0;
}

.time_wrap .time_ins {
  position: relative;
  width: 1.32rem;
  line-height: .32rem;
  font-size: .24rem;
  color: rgb(78, 78, 78);
}

.time_wrap .time_ins::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: .3rem;
  height: 1px;
  background: rgb(78, 78, 78);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.time_wrap .time_ins::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: .3rem;
  height: 1px;
  background: rgb(78, 78, 78);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.time_status {
  margin-left: .12rem;
}

.time_status .sta_open, .time_status .sta_close {
  line-height: .57rem;
  height: .57rem;
  font-size: 0;
}

.time_status .sta_open span, .time_status .sta_close span {
  display: inline-block;
  font-size: .2rem;
  vertical-align: middle;
}

.time_status .sta_name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: .65rem;
  margin-right: .1rem;
  font-size: .2rem;
  font-weight: bold;
  color: rgb(78, 78, 78);
}

.time_status .mcu_time {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: .1rem;
  width: 1.75rem;
  font-size: .2rem;
  color: rgb(113, 113, 113);
}

.time_status .mcu_null {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 1.1rem;
  color: rgb(113, 113, 113);
}

.time_status .mcu_time i {
  font-style: normal;
}

.time_status .mcu_time i.b_up {
  color: #ff5301;
}

.real-test .total_percent {
  display: -webkit-box;
  -webkit-box-align: center;
  display: flex;
  align-items: center;
  height: 2rem;
  background-color: #fff;
}

.total_percent .total_list {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  overflow: hidden;
  height: 1.52rem;
  text-align: center;
}

.bor_double {
  position: relative;
}

.bor_double:before, .bor_double:after {
  position: absolute;
  content: "";
  width: 1px;
  top: 0;
  bottom: 0;
  background: #f1f1f1;
}

.bor_double:before {
  left: 0;
}

.bor_double:after {
  right: 0;
}

.total_percent .total_list h3 {
  font-size: .24rem;
  -webkit-transform: skew(-10deg, 0);
  transform: skew(-10deg, 0);
  line-height: .57rem;
  font-style: normal;
  color: rgb(39, 39, 39);
}

.total_list .per_to {
  font-size: 0;
}

.per_to span {
  display: inline-block;
  vertical-align: middle;
  font-size: .18rem;
}

.per_to .cu_num {
  margin: 0 .07rem;
  width: .7rem;
  height: .7rem;
  font-size: .3rem;
  line-height: .7rem;
  border: 0.03rem solid rgb(240, 97, 72);
  border-radius: 999px;
  color: rgb(240, 97, 72);
  font-weight: bold;
}

.per_to .cu_num i {
  font-size: .12rem;
  font-style: normal;
}

.per_to .cu_text {
  color: rgb(113, 113, 113)
}

.contrast_wrap {
  margin: .2rem 0;
  background: #fff;
}

.contrast_wrap .contrast_name {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .4rem .45rem .4rem .31rem;
}

.contrast_wrap .back_f5 {
  background: #f5f5f5
}

.contrast_name .main_name {
  /* display: flex;
  align-items: center; */
  /* display: -webkit-box;
  -webkit-box-align:center;
  -webkit-box-pack:center; */
  display: block;
  width: 2.78rem;
  height: 0.36rem;
  font-size: .2rem;
  line-height: .36rem;
  border: 1px solid rgb(224, 224, 224);
  color: #343434;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contrast_name .main_name i {
  display: block;
  width: 27.8rem;
  height: 3.6rem;
  font-size: 2rem;
  line-height: 3.6rem;
  -webkit-transform: scale(0.1) translate(-450%, -450%);
  transform: scale(0.1) translate(-450%, -450%);
  text-align: center;
  font-style: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width:360px) and (min-width:360px) {
  /*部分安卓机子字体显示问题 */
}

.contrast_name>img {
  display: block;
  width: .7rem;
  height: .7rem;
}

.select_contrast_obj {
  display: -webkit-box;
  -webkit-box-align: center;
  display: flex;
  align-items: center;
}

.select_contrast_obj a {
  display: block;
  width: .68rem;
  text-align: center;
  height: .36rem;
  line-height: .36rem;
  border: 1px solid #d0ae90;
  background: #d0ae90;
  color: #fff;
}

.select_contrast_obj ins {
  overflow: hidden;
  display: block;
  height: .36rem;
  width: 2.08rem;
  border: 1px solid rgb(224, 224, 224);
}

.select_contrast_obj select.select {
  padding: 0 1rem;
  height: 3.8rem;
  width: 21rem;
  line-height: 3.8rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-size: 2rem;
  color: #343434;
  border: none;
  background: url("../img/img_h5_v.2.0/shouq@2x.png") no-repeat right 1rem center;
  background-size: 1rem 1rem;
  -webkit-transform: scale(0.1) translate(-450%, -450%);
  transform: scale(0.1) translate(-450%, -450%);
}

.select_contrast_obj select option {
  -webkit-transform: scale(0.1) translate(-450%, -450%);
  transform: scale(0.1) translate(-450%, -450%);
}

@media screen and (max-width:360px) and (min-width:360px) {
  /*部分安卓机子字体显示问题 */
}

.real_chartlist {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .45rem .2rem .31rem;
}

.real_chartlist .real_percent {
  width: 2.8rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: .1rem;
  box-sizing: border-box;
}

.real_chartlist .real_percent span {
  font-size: .24rem;
  color: rgb(193, 193, 193);
}

.real_chartlist .real_percent.contrast_right {
  padding-left: .1rem;
  padding-right: 0;
  -webkit-box-align: start;
  align-items: flex-start;
}

.real_chartlist li {
  padding: .12rem 0;
  height: .23rem;
  line-height: .23rem;
  font-size: .18rem;
  color: #090909;
  overflow: hidden;
  -webkit-animation: mymove 0.5s cubic-bezier(0.48, -0.04, 0.26, 1.24) 1;
  animation: mymove 0.5s cubic-bezier(0.48, -0.04, 0.26, 1.24) 1;
  animation-direction: inherit;
  -webkit-animation-direction: inherit;
}

.real_chartlist .real_percent ins {
  display: block;
  text-decoration: none;
  text-indent: .1rem;
  border-radius: .13rem;
  font-size: .14rem;
}

.real_chartlist .real_percent ins.up {
  background: -webkit-gradient(linear, left top, right top, from(#eb5a21), to(#db441b));
  background: -webkit-linear-gradient(left, rgb(235, 90, 33), rgb(219, 68, 27));
  background: linear-gradient(to right, rgb(235, 90, 33), rgb(219, 68, 27));
  color: #fff;
}

@keyframes mymove {
  from {
    width: 0;
  }
}

@-webkit-keyframes mymove {
  from {
    width: 0;
  }
}

.real_chartlist .real_percent.contrast_right ins.up {
  background: -webkit-gradient(linear, left top, right top, from(#db441b), to(#eb5a21));
  background: -webkit-linear-gradient(left, rgb(219, 68, 27), rgb(235, 90, 33));
  background: linear-gradient(to right, rgb(219, 68, 27), rgb(235, 90, 33));
}

.real_chartlist .real_percent ins.down {
  background: rgb(229, 229, 229);
  color: #474747;
}

.real_chartlist .real_percent.contrast_right ins {
  text-align: right;
  padding-right: .1rem;
}

/* 隔夜利息 */

.point-table .t_head {
  position: relative;
  display: table;
  width: 100%;
  height: .8rem;
  background: #eaeaea;
}

.point-table .t_head span {
  position: relative;
  display: table-cell;
  padding: 0 0.05rem;
  /* width:15.3675%; */
  width: 1rem;
  font-size: .24rem;
  vertical-align: middle;
  text-align: center;
  color: rgb(38, 45, 56);
}

.point-table .bor_r:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: .32rem;
  width: 1px;
  background: rgb(197, 194, 194);
  -webkit-transform: translateY(-50%) scaleX(0.5);
  transform: translateY(-50%) scaleX(0.5);
}

.point-table .t_head aside {
  position: relative;
  display: table-cell;
  padding: 0 0.05rem;
  width: 2.1rem;
  font-size: .24rem;
  vertical-align: middle;
  text-align: center;
  color: rgb(38, 45, 56);
}

.point-table .t_head span em {
  display: block;
  height: .8rem;
  width: 1rem;
  line-height: .8rem;
  text-align: center;
}

.point-table .t_head span:nth-of-type(1) {
  width: 2.53rem;
  text-align: left;
  padding-left: .3rem;
}

.point-table .t_head:after {
  content: "";
  position: absolute;
  left: 0.1rem;
  right: 0.1rem;
  bottom: 0;
  background: #eaeaea;
  height: 1px;
}

.point-table .t_body {
  position: relative;
  display: table;
  width: 100%;
  height: .7rem;
  background: #fff;
}

.point-table .t_body span {
  display: table-cell;
  position: relative;
  padding: 0 .05rem;
  font-size: 0.24rem;
  text-align: center;
  vertical-align: middle;
  /* width:15.3675%; */
  width: 1rem;
  color: rgb(38, 45, 56);
}

.point-table em {
  font-style: normal;
}

.point-table .t_body span em {
  display: block;
  height: .7rem;
  width: 1rem;
  line-height: .7rem;
  text-align: center;
}

.point-table .t_body span em.up {
  color: rgb(27, 158, 25);
  background: rgb(199, 245, 198)
}

.point-table .t_body span em.down {
  color: rgb(299, 9, 9);
  background: rgb(255, 204, 204)
}

.point-table .t_body span:nth-of-type(1) {
  width: 2.53rem;
  text-align: left;
  padding-left: .3rem;
}

.point-table .t_body:after {
  content: "";
  position: absolute;
  left: 0.1rem;
  right: 0.1rem;
  bottom: 0;
  background: #f1f1f1;
  height: 1px;
}

/* 交易信息 */

.section-trade {
  background: #fff;
}

.section-trade .list-trade {
  padding: 0 .3rem;
}

.section-trade h5 {
  font-size: .18rem;
  line-height: .3rem;
  font-weight: normal;
  color: #8d8d8d;
}

.section-trade p {
  padding-top: 0.08rem;
  font-size: .24rem;
  line-height: .4rem;
  color: #262e38;
}

.section-trade .list-trade {
  overflow: hidden;
}

.section-trade .list-trade li {
  overflow: hidden;
  margin: .3rem 0 .2rem 0;
}

.section-trade .list-trade li:nth-of-type(odd) {
  float: left;
  width: 3.26rem;
  border-right: 1px solid #f1f1f1;
}

.section-trade .list-trade li:nth-of-type(even) {
  float: right;
  width: 3.21rem;
}

.section-trade .aside-trade {
  padding: .32rem .3rem;
}

/* 牌照信息 */

.section-license {
  background: #fff;
}

#licenList {
  display: none;
}

.section-license li {
  border-bottom: 1px solid #e0e0e0;
}

.section-license h2 {
  line-height: .85rem;
  padding: 0 .26rem;
  font-size: .28rem;
  font-weight: normal;
  border-bottom: 1px solid #e0e0e0;
  color: #1e1e1e;
}

.rotate_180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.img_80X48 {
  display: block;
  width: .82rem;
  height: .46rem;
}

.flex_align_center {
  display: -webkit-box;
  -webkit-box-align: center;
  display: flex;
  align-items: center;
}

.img_145x88 {
  display: block;
  width: 1.44rem;
  height: .86rem;
}

.score .icon_score {
  display: block;
  margin-top: 0.085rem;
  width: 1.2rem;
  height: 0.238rem;
  margin-left: .1rem;
  background: url("../img/img_app/xingxing.png") no-repeat;
  background-size: 1.2rem 3.53rem;
}

.score .icon_score[data-star="5.00"] {
  background-position: 0 0;
}

.score .icon_score[data-star="4.50"] {
  /* background-position: 0 -0.32rem; */
  background-position: 0 10%;
}

.score .icon_score[data-star="4.00"] {
  /* background-position: 0 -0.66rem; */
  background-position: 0 20%;
}

.score .icon_score[data-star="3.50"] {
  /* background-position: 0 -0.99rem; */
  background-position: 0 30%;
}

.score .icon_score[data-star="3.00"] {
  /* background-position: 0 -1.32rem; */
  background-position: 0 40%;
}

.score .icon_score[data-star="2.50"] {
  /* background-position: 0 -1.65rem; */
  background-position: 0 50%
}

.score .icon_score[data-star="2.00"] {
  /* background-position: 0 -1.98rem; */
  background-position: 0 60%
}

.score .icon_score[data-star="1.50"] {
  /* background-position: 0 -2.31rem; */
  background-position: 0 70%
}

.score .icon_score[data-star="1.00"] {
  /* background-position: 0 -2.64rem; */
  background-position: 0 80%
}

.score .icon_score[data-star="0.50"] {
  /* background-position: 0 -2.97rem; */
  background-position: 0 90%
}

.score .icon_score[data-star="0.00"] {
  /* background-position: 0 -3.3rem; */
  background-position: 0 100%
}

.title-license {
  padding: .2rem .26rem;
}

.title-license .img_layout {
  float: left;
  margin-right: .1rem;
}

.title-license .p {
  float: left;
  font-size: .24rem;
  font-weight: normal;
  line-height: .48rem;
  color: #666;
}

.title-license .p.active {
  color: rgb(38, 46, 56);
}

.title-license .icon {
  height: .48rem;
  line-height: .48rem;
  font-size: 0;
}

.title-license .icon img {
  display: inline-block;
  vertical-align: middle;
  width: .24rem;
  height: .24rem;
}

.content-license {
  padding: 0 .26rem .4rem;
  overflow: hidden;
}

.aside_tit {
  margin-left: .2rem;
  float: left;
  width: 70%;
  font-size: 0;
}

.aside_tit span {
  font-size: .18rem;
}

.aside_tit span.col_666 {
  color: #666;
}

.aside_tit span.col_black {
  color: #201f1f;
}

.mart_10 {
  margin-top: .1rem;
}

.aside_tit aside {
  line-height: .4rem;
  height: .4rem;
}

.intro_p {
  padding-top: .24rem;
  font-size: .18rem;
  line-height: .36rem;
  color: #202020;
}

.intro_p span {
  color: #666666;
}

/* 首页三方服务 */

.umi-suru {
  height: 0.8rem;
  line-height: 0.8rem;
  margin: 0 0.3rem;
  border-bottom: 1px solid #ddd;
}

.suru_more {
  font-size: 0.28rem;
  color: #ccc;
  text-align: center;
  padding-top: 0.2rem;
}

.brokerNameList.isrecommend {
  color: rgb(255, 142, 0);
}

.three_service .keyWordsList {
  padding-bottom: 0;
  margin: 0;
  height: auto;
}

.three_service .keyWordsList span {
  display: inline-block;
  padding: 0.03rem 0.1rem;
  margin: 0.05rem .1rem 0.05rem 0;
  margin-right: 0.1rem;
}

.three_service .spread2 {}

.three_service .commission_wrap {
  border-bottom: 0.01rem solid #DDDDDD;
  padding-bottom: 0.2rem;
}

.three_service .commission_wrap li {
  position: relative;
  overflow: hidden;
}

.three_service .tile_img {
  float: left;
}

.three_service .commission_middle {
  float: left;
  position: static;
}

.three_service .euData2 {
  color: #333;
  margin-left: .15rem;
}

.sea_service .keyWordsList span {
  display: inline-block;
  margin: 0.05rem 0;
  margin-right: 0.1rem;
  padding: 0.03rem 0.1rem;
}

.sea_service .euData2 {
  color: #333;
}

.three_star {
  display: inline-block;
  width: 1.2rem;
  height: 0.238rem;
  margin-left: .1rem;
  background-size: 1.2rem 3.53rem;
  background: url("../img/img_app/xingxing.png") no-repeat;
  vertical-align: bottom;
}

.three_star[data-star="5.00"] {
  background-position: 0 0;
}

.three_star[data-star="4.50"] {
  background-position: 0 10%;
}

.three_star[data-star="4.00"] {
  background-position: 0 20%;
}

.three_star[data-star="3.50"] {
  background-position: 0 30%;
}

.three_star[data-star="3.00"] {
  background-position: 0 40%;
}

.three_star[data-star="2.50"] {
  background-position: 0 50%
}

.three_star[data-star="2.00"] {
  background-position: 0 60%
}

.three_star[data-star="1.50"] {
  background-position: 0 70%
}

.three_star[data-star="1.00"] {
  background-position: 0 80%
}

.three_star[data-star="0.50"] {
  background-position: 0 90%
}

.three_star[data-star="0.00"] {
  background-position: 0 100%
}

.selfDrap {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #999;
  font-size: 0.24rem;
}

.selfDrap .loading {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 6px;
  border: 2px solid #666;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-animation: rotate 0.75s linear infinite;
  animation: rotate 0.75s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.offline_service ul {
  border-bottom: 0.01rem solid #DDDDDD;
}

.offline_service .tile_img {
  width: 1.98rem;
  height: 1.3rem;
  overflow: hidden;
}

.offline_service .tile_img img {
  width: 100%;
  height: 100%;
}

.offline_service .commission_middle {
  width: 4.7rem;
}

.offline-address {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: .52rem;
  color: #717171;
}

.offline-address em {
  font-style: normal;
}

.offline-address span {
  display: block;
  height: .52rem;
  font-size: 0;
  line-height: .52rem;
}

.offline-address span ins {
  display: inline-block;
  height: .42rem;
  width: .42rem;
  background: #f0f;
  vertical-align: middle;
}

.offline-address span:first-child ins {
  background: url("../img/img_app/index_local.png") no-repeat center;
  background-size: .37rem .37rem;
}

.offline-address span:last-child ins {
  background: url("../img/img_app/index_time.png") no-repeat center;
  background-size: .33rem .33rem;
}

.offline-address span em, .offline-address span time {
  display: inline-block;
  margin-left: 0.05rem;
  max-width: 1.8rem;
  font-size: .24rem;
  font-style: normal;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.offline-info h3 {
  height: .8rem;
  line-height: .4rem;
  font-size: .32rem;
  font-weight: normal;
  color: #1e1e1e;
}

body, html {
  margin: 0;
  padding: 0;
}

/* 三方内页 */

.three_ms {
  height: 1.97rem;
  padding: .3rem .3rem 0;
  font-size: .24rem;
  background-image: url("../img/img_app/Vguanfang@2x.png");
  background-size: cover;
}

.three_ms>img {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  float: left;
  margin-right: .26rem;
  background: #fff;
}

.three_ms h3 {
  margin: 0;
  font-size: 0.36rem;
  color: #fff;
  font-weight: normal;
}

.three_ms p {
  margin: 0;
  line-height: .27rem;
  padding: .1rem 0;
  font-size: .22rem;
  color: #fff;
}

.three_ms p.mart_17 {
  margin-top: .17rem;
}

.three_ms p.mart_40 {
  margin-top: .4rem;
}

.three_ms p i {
  font-style: normal;
  margin-left: .12rem;
}

.tag_three {
  padding: .17rem .3rem;
  margin-bottom: .2rem;
  font-size: 0;
  background: #fff;
}

.tag_three[data-keywords="0"] {
  padding: 0;
}

.tag_three em {
  display: inline-block;
  padding: .1rem;
  margin: .07rem .14rem .07rem 0;
  line-height: .24rem;
  font-size: .22rem;
  border-radius: 5px;
  font-style: normal;
  background: #ffece8;
  color: #ff8062;
}

.tag_three em:nth-of-type(5n+1) {
  background: #ffece8;
  color: #ff8062;
}

.tag_three em:nth-of-type(5n+2) {
  background: #e1f5ed;
  color: #33be85;
}

.tag_three em:nth-of-type(5n+3) {
  background: #fdf1e0;
  color: #f2a12f;
}

.tag_three em:nth-of-type(5n+4) {
  background: #ecf5ff;
  color: #67a9ea;
}

.tag_three em:nth-of-type(5n+5) {
  background: #e1f5f8;
  color: #39becd;
}

.inner_star {
  display: inline-block;
  width: 1.2rem;
  height: 0.24rem;
  vertical-align: bottom;
  background-size: 100% auto;
}

/**修改之后的**/

.head-top {
  font-size: 0;
}

.head-top .news-title-wrap {
  margin-left: 0.3rem;
}

.head-bottom ul {
  font-size: 0;
  padding: .23rem 0;
}

.head-bottom ul li {
  font-size: 0;
  margin: 0 1.5%;
}
