.swiper-slide{
	/*margin-right: 0!important;*/
    float: right;
}

.advertisement{
	/*display: none;*/
	position: relative;
	width: 100%;
	height: 2.0rem;
	
}

.img_star{
	/*background: url(../img/biaoqian@2x.png);*/
	background: url(../../img/img_app/biaoqian@2x.png);
	width: 2.4rem;
	height: 0.58rem;
	margin-top: -0.2rem;
	position: relative;
	z-index: 101;
}
.header{
	display: none;
}
.img_star span{
	font-size: 0.32rem;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	margin-top: 0.085rem;
	margin-left: 0.7rem;


}
.mid_wrap{
	/*width: 100%;*/
	position: relative;
	/*display: inline-block;*/
}
.tile-img{
	position: absolute;
	top: 0;
	right: 0rem;
}
.mid_wrap{
	height: 1.9rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 0.3rem;

	
}
.mid_title{
	line-height: 0.32rem;
	font-size: 0.32rem;
	color: #1e1e1e;
	margin-top: 0.3rem;
}
.biaoqian{
	height: 0.5rem;
	margin-top: 0.26rem;
}
.biaoqian span{
	display: none;
	height: 0.31rem;
	/*display: inline-block;*/
	vertical-align: top;
	margin-right: 0.12rem;
	border: 0.01rem solid #999;
	font-size: 0.22rem;
	color: #999;
	border-radius: 0.05rem;
	padding: 0 0.1rem;
	line-height: 0.31rem;
}
.biaoqian span:nth-child(1){
	display: inline;
}
.biaoqian span:nth-child(2){
	display: inline;
}
.biaoqian span:nth-child(3){
	display: inline;
}
.tile-img img{
	border: 0.01rem solid #DDDDDD;
	width: 1.5rem;
	height: 1.5rem;

}
.tile-img{
	margin-top: 0.26rem;
	margin-right: 0.3rem;
}
.mid-star img{

	vertical-align: top;

	margin-left: -0.3rem;
}
.mid-star img:nth-child(1){
	margin-left: 0;
}
.mid-star{
	width: 1.2rem;
	height: 0.24rem;
	background: url(../../img/img_app/xingxing.png);
	/*background-position: 0 -0.34rem;*/
	line-height: 0;
	margin-top: 0.26rem;
}
.con-font{
	/*display: inherit;*/
	/*min-height: 0.6rem!important;*/
	/* height: auto; */
	font-size: 22px;
	color: #888;
	padding: 0 0.3rem;
	margin-bottom: 0.24rem;
	overflow: hidden;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
	/*border:1px solid red;*/
	/*word-break: break-all;
	text-overflow: ellipsis;*/
}

.con-font-long{
	-webkit-line-clamp: 3;
}


.zk-font{
	font-size: 0.22rem;
	color: #999;
	text-align: center;
	margin-top: 0.24rem;
	padding-bottom: 0.26rem;
}
.zk-font img{
	vertical-align: middle;
	margin-left: 0.06rem;
}
.sort{
	/*margin-top: 0.3rem;*/
	/*box-shadow: 20px 10px 10px #dcdcdc;*/
	background: #fff;
	width: 100%;
	border-bottom: 0.01rem solid #DDDDDD;
	/*border-top: 0.2rem solid #EAEAEA;*/
	position: relative;

}
.sortComplex{
	display: inline-block;
	line-height: 0.81rem;
	margin-right: 0.5rem;
}
.screen{
	display: inline-block;
	line-height: 0.81rem;
}
.sortComplex img,.screen img{
	vertical-align: middle;
}
.sort ul{
	border-bottom: 0.01rem solid #ddd;
	background: #fff;
	/*width: 7.5rem;*/
	width: 100%;
	height: 0.8rem;
	font-size: 0.26rem;
	color: #333;
	text-align: right;
}
.sort ul li img{
	vertical-align: middle;
	display: inline-block;
}
.dealer{
	display: inline-block;
	float: left;
	line-height: 0.81rem;
}
.zh,.dealer_sq{

	display: inline-block;
	/*vertical-align: middle;*/
	margin-right: 0.1rem;
	margin-left: 0.3rem;
}
.sx{
	vertical-align: middle;
	display: inline-block;
	margin-left: 0.06rem;
	margin-right: 0.3rem;
}
.sort ul li{
	line-height: 0.85rem;
}


/*经纪商列表*/
.bgSta_po{
	position: absolute;
	right: 0;
	top: 0rem;
	z-index: -1;
}
.bgStar_Wrap{
	border-top: 0.4rem solid #EAEAEA;
	border-bottom: 0.2rem solid #EAEAEA;
	display: none;
	position: relative;
	/*background: url(../img/star@2x.png) no-repeat;*/
	/*background-origin:;*/
	/*margin-bottom: 0.3rem;*/
	background-position:right;
}
.commission_wrap{
	position: relative;
	margin: 0 0.3rem;
	padding-top: 0.2rem;
	/*padding-bottom: 0.2rem;*/
	/*border-bottom: 0.01rem solid #DDDDDD;*/
	
}
.commission_inner{
/*	border-bottom: 0.01rem solid #DDDDDD;*/
	/*padding-bottom: 0.2rem;*/
}
.commission_wrap li{
	position: relative;
	/*display: flex;
	flex-direction: row;*/


}
.tile_img{
	display: inline-block;
	border: 0.01rem solid #DDDDDD;
	width: 1.8rem;
	height: 1.8rem;
	
}
.tile_img img{
	width: 1.8rem;
	height: 1.8rem;
}
.brokerNameList{
	vertical-align: top;
    display: inline-block;
	font-size: 0.3rem;
	color: #333;
	/*max-width: 3rem;*/
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	/*margin-left: 0.12rem;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow;
}
.spread{
	line-height: 0.24rem;
	font-size: 0.24rem;
	color: #999;
	
}
.spread_wrap{
	
}
.spread1{
	margin-top: 0.2rem;
}
.spread2{
	margin-top: 0.1rem;
}
.keyWordsList{
	position: relative;
	height: 0.32rem;
	/*display: flex;
	flex-wrap: wrap;*/

	margin-top: 0.21rem;
	padding-bottom: 0.2rem;
	/*border-bottom: 0.01rem solid #ddd;*/
}

.keyWordsList span{
/*	position: absolute;*/
	
	display: inline-block;
	font-size: 0.22rem;
	border-radius: 0.05rem;
	border: 0.01rem solid #999;
	padding: 0 0.1rem;
	margin-right: 0.1rem;
	color: #999;
}
/*.keyWordsList span:nth-child(2){
	margin-left: 0.1rem;
}
.keyWordsList span:nth-child(3){
	margin-left: 0.1rem;
}*/
.goal{
	display: inline-block;
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
}
.goalList{
	font-size: 0.38rem;
	color: #3285ea;
	font-weight: bold;
	margin-right: 0.12rem;
}

.goalContent{
	position: absolute;
	right:0;
	top:50%;
	margin-top:-0.25rem;
	align-items:center;
}

.goal-font{
	font-size: 0.22rem;
	color: #999;
}
.omyspread{
	height: 0.42rem;
	line-height: 0.42rem;
}
.commission_middle{
	width: 4.78rem;
	/*width: 100%;*/
	position: absolute;
	/*position: absolute;
	top: 0;*/
	display: inline-block;
	vertical-align: top;
	margin-left: 0.2rem;
	/*flex:4;*/
}
.keyWordsList span{
	display: none;
}

.tj{
	position: absolute;
	top: 0;
	left: 0.1rem;
	width: 0.6rem;
	height: 0.3rem;
	/*margin-top: 0.09rem;*/
	margin-right: 0.12rem;
}
.rz{
	vertical-align: middle;
	margin-left: 0.1rem;
	/*vertical-align: bottom;*/
}
.dropload-load,.dropload-noData{
	color: #999;
	font-size: 0.24rem;
}
.gg_font a{
	position: relative;
}
.gg_font{
	/*width: 87%;*/
	position: absolute;
	/*top: 0.34rem;*/
	display: inline-block;
	font-size: 0.24rem;
	margin-left: 0.12rem;
	/*margin-bottom: 0.4rem;*/
	vertical-align: top;
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
	/*vertical-align: bottom;*/
}
.resultgg{
	/*width: 150%;*/
	    /*width: 70%;*/
    margin-left: 2.1rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	line-height: 0.24rem;
	border-top: 1px solid #ddd;

	/*margin-top: 2rem;*/
	/*display: flex;
	flex-direction: row;
	line-height: 0;*/
}
.resultgg_selct_cp{
	margin-left: 0;
}

.resultgg a{
	display: inline-block;
	width: 100%;
	color: #666;
	margin-top: -0.05rem;
	
}
.gg_img{
	vertical-align: top;
	/*margin-top: 0.2rem;*/
}
.bannerSlide1{
	width: 100%;
	height: 2.0rem;
	/*border: 0.01rem solid red;*/
}
.bg_gg{
	width: 0.5rem;
	height: 0.3rem;
	background: url(../../img/img_app/ad@2x.png);
	position: absolute;
	top: 0.2rem;
	right: 0;
	z-index: 100;
	font-size: 0.2rem;
	color: #fff;
	text-align: right;
}
.swiper-pagination-bullet{
	width: 0.14rem!important;
	height: 0.14rem!important;
	background: #000!important;
	opacity: 0.3!important;
}
.swiper-pagination-bullet-active{
	background: #fff!important;

}
.swiper-pagination{
	margin-left: 3rem;
	line-height: 0;
	width: 20%!important;
	bottom: 0.3rem!important;
}
.qjd{
	vertical-align: middle;
	/*width: 0.68rem;
	height: 0.28rem;*/
	/*margin-top: 0.11rem;*/
	margin-left: 0.1rem;
}


.baiduGg_home{
	font-size: 0.24rem!important;
/*	border: 0.01rem solid red;*/
margin-left: 0.12rem;
}
.listBaiduAd{
	/*width: 70%;*/
    margin-left: 2.1rem;
	border-top: 1px solid #ddd;
   	padding-bottom: 0.12rem;
    padding-top: 0.08rem;
	/*position: absolute;
	bottom: 0;*/
	line-height: 0;
	display: inherit;
	margin-top: 0.2rem;
}
.listBaiduAd{
	/*display: none;*/
}
iframe{
	width: 80%!important;
	height: 0.37rem!important;
	vertical-align: top!important;
	margin-top: 0.08rem!important;
}
.search_nodata_img{
	width: 100%;
	font-size: 0.28rem;
	text-align: center;
}
.huifu{
	color: #333;
}
.commission_continer{
	border-bottom: 0.01rem solid #DDDDDD;
	margin: 0 0.3rem;
}
.commissionList div p{
	color:#999;
}
#noResult,#noResult2{
	padding-top: 3.4rem;
}
.noImgWrap{
	width: 100%;
	text-align: center;
	margin-top: 1rem;
}
.noImgWrap p{
	font-size: 0.34rem;
	color: #bbb;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@   交易社区*/
.selectBox{
	width: 100%;
	position: absolute;
	/*width: 1.5rem;*/
	height: 13rem;
	font-size: 0.26rem;
	color: #333;
	z-index: 99965852;
/*	background: white;*/
    display: inline-block;
    /*padding-left: 0.3rem;*/

   /* opacity: 0.6;*/
    
}
.selectBox_top{
	background: #f5f5f5;
}
.selectBoxIsHide{
	display: none;
}
.zm{
	vertical-align: middle;
    display: inline-block;
    margin-left: 0.06rem;
    margin-right: 0.3rem;
    color: #666;
}
.zmwrap{
    line-height: 0.81rem;
}
.TradeList_left{
	display: inline-block;
    border: 0.01rem solid #DDDDDD;
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 0.1rem;
}
.TradeList_right{
	width: 4.78rem;
    display: inline-block;
    vertical-align: top;
    margin-left: 0.2rem;
    /* flex: 4; */
}
.agentDesc{
	font-size: 0.24rem;
	color: #999;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
    /* margin-left: 0.12rem; */
  /*  white-space: nowrap;*/
   /* overflow: hidden;*/
}
.agentSc{
	font-size: 0.24rem;
	color: #999;
	overflow: hidden;
	width: 3.5rem;
	line-height: 1.2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
}
.agentContent{
	width: 100%;
	position: relative;
}
.TradeList_wrap,.trainingSchool_wrap{
	font-size: 0;
}
.select_title{
	    vertical-align: top;
    display: inline-block;
    font-size: 0.3rem;
    color: #333;
    /* max-width: 3rem; */
    
}
.select_keyWordsList{
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}
.select_keyWordsList span{
	/*display: inline-block;*/
    font-size: 0.22rem;
    border-radius: 0.05rem;
    border: 0.01rem solid #999;
    padding: 0 0.1rem;
    margin-right: 0.1rem;
    color: #999;
}
.trader_img{
	width: 1.8rem;
	height: 1.8rem;
}
.trader,.community,.trainingAgency{
	height: 0.8rem;
	line-height: 0.8rem;
	margin: 0 0.3rem;
	border-bottom:1px solid #ddd;
	/*overflow: hidden;*/
}
.trader img,.community img,.trainingAgency img{
	/*float: right;
	vertical-align: middle;*/
}
.TradeList_wrap,.trainingSchool_wrap{
	margin-left: 0.3rem;
	margin-right: 0.3rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #ddd;
}
.myisVip{
	margin-left: 0.1rem;
	vertical-align: middle;
}
.agentName_title{
	vertical-align: middle;
}
.agentName_titleColor{
	color: rgb(255, 142, 0);
}
.listBaiduAd2{
	margin-left: 0;
}
.traderList_loading,.trainingList_loading{
	font-size: 0.28rem;
	color: #ccc;
	text-align: center;
	padding-top: 0.2rem;
}
.triggerContent_img{
	width: 100%;
	height: 2rem;
}
.traderGg_img{
	margin-top: 0.15rem;
}
.selectBox_bottom{
	height: 11rem;
	background: #000;
	opacity: 0.4;
}
.selectBlue{
	color: #3285ea;
}
.con_trader{
	padding-bottom: 0.5rem;
}
.traderList {
  height: 100%;
  overflow: auto;
}


/*search  css 样式*/
.search_tab li{
	display: inline-block;
	width: 50%;
	font-size: .32rem;
	height: 0.88rem;
	text-align: center;
	line-height: 0.88rem;
}
.search_tab li a{
	display: inline-block;
	width: 2.36rem;
	color: #999;
}
.slider{
	width: 2.36rem;
	height: 2px;
	background: #3285ea;
	position: absolute;
	
}
.search_color{
	color: #3285ea!important;
}
#noResult p,#noResult2 p{
	color: #999;
}

.search_tab {
	border:1px solid #ddd;
}