* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

ol li,
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  vertical-align: middle;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: '';
  clear: both;
  display: block;
}

.clearfix {
  clear: both;
}

.over_h {
  overflow: hidden!important;
}

.hidden {
  display: none !important;
}

.mar_b20 {
  margin-bottom: 0.2rem !important;
}

b,
em,
i,
ins,
strong {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.mart_59 {
  margin-top: 0.59rem !important;
}

.mart_58 {
  margin-top: 0.58rem !important;
}

.marb_43 {
  margin-bottom: 0.43rem !important;
}

.marb_98 {
  margin-bottom: 0.98rem !important;
}

.mart_30 {
  margin-top: 0.3rem !important;
}

.mar_tb20 {
  margin-top: 0.2rem !important;
  margin-bottom: 0.2rem !important;
}

.mart_zore11 {
  margin-top: -0.11rem !important;
}
// 课程介绍

#shareMoreHelp {
  display: none;
}

body {
  font-size: 0.24rem;
  background: #4792f8;
  font-family: "PingFangSC-Regular", "Microsoft YaHei", Helvetica;
  color: #333;
  // touch-action: manipulation;
}

.header_img {
  position: relative;

  .btn_detail {
    position: absolute;
    bottom: 0.28rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header_img img {
  width: 100%;
}

.sub_wrap h2.h2_ti {
  font-size: 0.36rem;
  line-height: 1.02rem;
  margin-bottom: 0.08rem;
  text-align: center;
  overflow: hidden;
  // background: url("../images/3xianduan@3x.png") no-repeat center;
  // background-size: 70% auto;
  img {
    width: 4.23rem;
    height: 0.35rem;
    margin: 0.33rem auto 0.41rem;
  }
}

.sub_wrap {
  display: none;
  position: relative;
  margin: -0.12rem 0.2rem 0.4rem;
  border-radius: 0.16rem;
  background: #fff;

  .sub_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.53rem;

    li {
      display: block;
      width: 1.41rem;

      img {
        width: 100%;
      }
    }
  }

  .sub_list {
    padding: 0 0.51rem;
    overflow: hidden;
    margin-top: 0.2rem;

    li {
      position: relative;
      overflow: hidden;
      padding-left: 0.44rem;
      max-width: 2.6rem;
      line-height: 0.44rem;
      font-size: 0.26rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #333333;

      &:nth-child(odd) {
        float: left;
      }

      &:nth-child(even) {
        float: right;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0.34rem;
        height: 0.34rem;
        background: url("../images/fuhao@3x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }
  }

  .sub_people {
    padding: 0.54rem 0.34rem 0.19rem;
    overflow: hidden;

    .pe_img {
      float: left;
      width: 1.74rem;
    }

    .pe_info {
      float: left;
      width: 69%;
      padding-left: 0.23rem;

      h3 {
        margin-bottom: 0.13rem;
        line-height: 0.32rem;
        font-size: 0.32rem;
        color: #0d8bcd;
      }

      p {
        position: relative;
        padding-left: 0.16rem;
        margin-bottom: 0.15rem;
        line-height: 0.31rem;
        font-size: 0.24rem;
        color: rgb(51,51,51);

        &:before {
          content: "";
          width: 0.06rem;
          height: 0.06rem;
          position: absolute;
          left: 0;
          top: 0.12rem;
          // top: 50%;
          // transform: translateY(-50%);
          border-radius: 999px;
          background: rgb(174,174,174);
        }
      }
    }
  }

  .sub_content {
    overflow: hidden;
    padding: 0.4rem 0.34rem 0;
    background: #f5f8fc;

    h4 {
      position: relative;
      padding-left: 0.24rem;
      font-size: 0.3rem;
      line-height: 1.5em;
      font-weight: normal;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #333333;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 0.3rem;
        width: 0.12rem;
        border-radius: 2px;
        background: rgb(53,129,228);
      }
    }

    p {
      position: relative;
      padding-left: 0.24rem;
      line-height: 0.36rem;
      margin: 0.09rem 0;
      font-size: 0.24rem;
      color: rgb(51,51,51);

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.125rem;
        height: 0.12rem;
        width: 0.12rem;
        border-radius: 999px;
        background: url("../images/dian@3x.png") no-repeat 0 0;
        background-size: 100% auto;
      }
    }

    h5 {
      margin-left: 0.22rem;
      line-height: 1.5em;
      font-size: 0.24rem;
      color: rgb(51,51,51);
    }

    h6 {
      position: relative;
      margin-left: 0.22rem;
      padding-left: 0.2rem;
      font-weight: normal;
      font-size: 0.24rem;
      line-height: 1.5em;
      color: rgb(51,51,51);
      margin-bottom: 0.04rem;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.14rem;
        width: 0.06rem;
        height: 0.06rem;
        border-radius: 999px;
        background: #aeaeae;
      }
    }
  }

  .sub_target {
    overflow: hidden;
    padding: 0.45rem 0.15rem 0.25rem 0.4rem;
    background: rgb(245,248,252);

    img {
      width: 0.43rem;
    }

    ul {
      width: 88%;
      padding-left: 0.28rem;

      li {
        margin-bottom: 0.26rem;

        a {
          display: block;
          width: 2.03rem;
          line-height: 0.5rem;
          font-size: 0.22rem;
          color: rgb(13,139,205);
          text-align: center;
          background: rgb(193,228,244);
          border-radius: 0.08rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          margin-left: 2.14rem;
          line-height: 0.27rem;
          color: rgb(51,51,51);
          font-size: 0.18rem;
          word-break: break-all;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
    }
  }

  .sub_program {
    h2 {
      overflow: hidden;
      font-size: 0.36rem;
      line-height: 1.05rem;
      text-align: center;
      width: 4.23rem;
      // height: .35rem;
      margin: 0 auto;

      img {
        width: 100%;
        margin: 0.34rem 0 0.35rem;
      }
      // background: url("../images/3xianduan@3x.png") no-repeat center;
      // background-size: 70% auto;
    }

    .img_warp {
      margin: 0 0.81rem;

      img {
        width: 100%;
      }
    }
  }

  .sub_comment {
    padding-top: 0.28rem;

    h2 {
      font-size: 0.36rem;
      line-height: 1.5em;
      width: 4.97rem;
      margin: 0 auto;
      // height: .35rem;
      overflow: hidden;
      // text-align: center;
      // background: url("../images/2xianduan@3x.png") no-repeat center;
      // background-size: 75% auto;
      img {
        width: 100%;
        margin: 0.52rem 0 0.08rem;
      }
    }

    p {
      padding-top: 0.1rem;
      padding-bottom: 0.24rem;
      line-height: 1.5em;
      font-size: 0.24rem;
      text-align: center;
      color: rgb(102,102,102);
    }

    .img_wrap {
      padding: 0 0.34rem 0.73rem;

      img {
        width: 100%;
      }
    }
  }

  .btn_detail {
    position: absolute;
    left: 50%;
    bottom: -0.25rem;
    transform: translateX(-50%);

    ins {
      transform: rotate(180deg);
    }
  }
}

.btn_detail {
  z-index: 9;
  position: relative;
  display: block;
  font-size: 0.22rem;
  line-height: 0.5rem;
  width: 1.78rem;
  text-align: center;
  border-radius: 0.1rem;
  margin: -0.25rem auto 0;
  background: #4792f8;
  color: #fff;

  ins {
    display: inline-block;
    vertical-align: middle;
    width: 0.21rem;
    height: 0.11rem;
    margin-left: 0.03rem;

    img {
      width: 100%;
    }
  }
}
// 老金论坛

.assistance {
  position: relative;
  overflow: hidden;
  margin: 0 0.2rem;
  border-radius: 0.16rem;
  background: #fff;

  &.more {
    margin-top: -0.12rem;
  }

  h3 {
    position: relative;
    width: 6.10rem;
    margin: 0.17rem auto 0.13rem;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.5rem;
    font-weight: normal;
    color: rgb(51,51,51);

    &:before {
      content: "";
      width: 35%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) scaleY(0.5);
      height: 1px;
      background: rgb(240,240,240);
    }

    &:after {
      content: "";
      width: 35%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) scaleY(0.5);
      right: 0;
      height: 1px;
      background: rgb(240,240,240);
    }
  }

  h2 {
    line-height: 0.58rem;
    font-size: 0.32rem;
    text-align: center;
    font-weight: normal;
    color: rgb(51,51,51);

    span {
      color: rgb(50,151,237);
    }
  }

  .list-progress {
    margin-top: 0.37rem;

    .active0 {
      .pos_1 {
        background: url("../images/weidaoyuan@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      .pos_2 {
        background: url("../images/weidaoyuan@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      .pos_3 {
        background: url("../images/weidaoyuan@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }

    .active1 {
      .pos_1 {
        background: url("../images/dadaiyuan@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      .pos_2 {
        background: url("../images/weidaoyuan@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      .pos_3 {
        background: url("../images/weidaoyuan@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }

    .active2 {
      .pos_1 {
        background: url("../images/dadaiyuan@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      .pos_2 {
        background: url("../images/dadaiyuan@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      .pos_3 {
        background: url("../images/weidaoyuan@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }

    .active3 {
      .pos_1 {
        background: url("../images/dadaiyuan@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      .pos_2 {
        background: url("../images/dadaiyuan@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      .pos_3 {
        background: url("../images/dadaiyuan@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }

    .module_progres {
      position: relative;
      width: 6.04rem;
      height: 0.4rem;
      margin: 0 auto;
      background: url("../images/di@2x.png") no-repeat center center;
      background-size: 100% auto;

      ins {
        z-index: 9;
        position: absolute;
        width: 0.4rem;
        height: 0.4rem;

        img {
          width: 100%;
        }

        &.pos_1 {
          left: 1.8rem;
          top: 0;
        }

        &.pos_2 {
          left: 3.8rem;
          top: 0;
        }

        &.pos_3 {
          left: 5.65rem;
          top: 0;
        }
      }

      i.pro_way1 {
        height: 0.075rem;
        position: absolute;
        top: 0.16rem;
        left: 0.04rem;
        width: 30%;
        width: 0;
        background: linear-gradient(to right,#30c5ed,#32aeed);
        border-radius: 0.075rem;

        img {
          height: 100%;
          width: auto;
        }
      }

      i.pro_way2 {
        height: 0.075rem;
        position: absolute;
        top: 0.16rem;
        left: 36%;
        width: 27.5%;
        width: 0;
        background: linear-gradient(to right,#32aeed,#3291ed);
        border-radius: 0.075rem;

        img {
          height: 100%;
          width: auto;
        }
      }

      i.pro_way3 {
        height: 0.075rem;
        position: absolute;
        top: 0.16rem;
        left: 68.8%;
        width: 26%;
        width: 0;
        background: linear-gradient(to right,#3291ed,#327ced);
        border-radius: 0.075rem;

        img {
          height: 100%;
          width: auto;
        }
      }
    }

    .module_art {
      padding-left: 1.65rem;
      display: flex;
      width: 7.1rem;

      li {
        width: 1.8rem;
        text-align: center;

        &:nth-of-type(2) {
          margin-left: 0.2rem;
        }

        &:nth-of-type(3) {
          margin-left: 0.1rem;
          width: 1.7rem;

          &.active .discount {
            text-align: left;
          }
        }

        .ninja {
          font-size: 0.22rem;
          line-height: 1.5em;
          color: rgb(51,51,51);
        }

        .discount {
          font-size: 0.26rem;
          line-height: 0.4rem;
          color: #333333;

          span {
            color: rgb(50,151,237);
            font-size: 0.26rem;
            line-height: 0.4rem;
            display: inline-block;
            vertical-align: bottom;
          }

          em {
            display: inline-block;
            vertical-align: bottom;
            font-size: 0.26rem;
            line-height: 0.4rem;
          }
        }
      }

      li.active {
        .discount {
          span {
            font-size: 0.4rem;
            color: rgb(228,30,58);
          }
        }
      }
    }

    .active-btn {
      margin: 0.4rem 0.39rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        display: block;
        width: 3.02rem;
        height: 1.05rem;
        line-height: 0.95rem;
        font-size: 0.28rem;
        text-align: center;
        color: #fff;
      }

      .a-launch {
        background: url("../images/blue-button@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }

      .a-help {
        background: url("../images/yellow-button@2x.png") no-repeat 0 0;
        background-size: 100% 100%;
      }
    }

    .end-btn {
      margin-top: 0.5rem;
      display: none;

      a {
        border-radius: 0.1rem;
        display: block;
        margin: 0 auto;
        width: 3.57rem;
        line-height: 0.8rem;
        font-size: 0.28rem;
        text-align: center;
        background: #a0a0a0;
        color: #fff;
      }
    }

    .time-come {
      margin: 0.14rem 0 0.31rem;
      padding-right: 0.52rem;
      font-size: 0;
      text-align: right;
      color: rgb(51,51,51);

      &.time-end {
        display: none;
        margin-top: 0.3rem;
      }

      em {
        display: inline-block;
        vertical-align: middle;
        line-height: 0.32rem;
        font-size: 0.2rem;
        margin-right: 0.12rem;
      }

      ins {
        display: inline-block;
        vertical-align: middle;
        width: 0.2rem;
        font-size: 0.2rem;
        text-align: center;
        color: rgb(49,156,237);
      }

      span {
        display: inline-block;
        vertical-align: middle;
        width: 0.32rem;
        line-height: 0.32rem;
        font-size: 0.2rem;
        border-radius: 0.06rem;
        text-align: center;
        background: rgb(49,156,237);
        color: #fff;
      }

      &.time-end {
        span {
          background: #c2c2c2;
          color: #fff;
        }

        ins {
          color: #c2c2c2;
        }
      }
    }
  }
}

.margin_top_neg {
  margin-top: -0.12rem !important;
}
//下载app文案

.down_h5 {
  color: #fff;
  text-align: center;
  line-height: 0.56rem;
  font-weight: normal;
  font-size: 0.2rem;
}
// 看看有谁助力

.assis_man {
  margin: 0 0.2rem 0.2rem;
  border-radius: 0.16rem;
  background: #fff;

  h2 {
    width: 6.28rem;
    line-height: 0.88rem;
    margin: 0 auto 0.16rem;
    font-size: 0.28rem;
    text-align: center;
    font-weight: normal;
    color: rgb(51,51,51);
    background: url("../images/2xianduan@2x.png") no-repeat center;
    background-size: 100% auto;
  }

  #assis_wrap {
    position: relative;
    overflow: hidden;
    padding: 0 0.34rem;
    height: 3.45rem;
    margin: 0 auto;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0.66rem;
      background: url("../images/zhegai@2x.png") no-repeat 0 0;
      background-size: 100% 100%;
    }
  }

  ul {
    position: relative;
    transform: translateY(0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    li {
      width: 6.42rem;
      border-bottom: 1px solid rgb(240,240,240);
      padding: 0.3rem 0;

      img {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 999px;
      }

      .nickname {
        width: 5.6rem;
        margin-left: 0.12rem;

        .onega {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            display: block;
            width: 48%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 0.2rem;
            line-height: 0.26rem;
            color: rgb(102,102,102);
          }

          time {
            display: block;
            font-size: 0.2rem;
            line-height: 0.26rem;
            color: rgb(170,170,170);
          }
        }

        h5 {
          font-size: 0.28rem;
          margin-top: 0.04rem;
          line-height: 0.34rem;
          font-weight: normal;
          color: #333333;
        }
      }
    }
  }
}
// FX168介绍

.sub_recommend {
  position: relative;
  margin: 0.2rem 0.2rem 0;
  overflow: hidden;
  padding-bottom: 0.27rem;
  border-radius: 0.16rem;
  background: #fff;

  h2 {
    font-size: 0.28rem;
    width: 6.1rem;
    line-height: 0.88rem;
    margin: 0.07rem auto -0.08rem;
    text-align: center;
    font-weight: normal;
    background: url("../images/3xianduan@3x.png") no-repeat center;
    color: rgb(51,51,51);
    background-size: 100% auto;
  }

  p {
    padding: 0 0.34rem 0.15rem;
    text-indent: 2em;
    line-height: 0.47rem;
    font-size: 0.26rem;
    text-align: justify;
    color: rgb(51,51,51);
  }
}
// 分享提示

.share {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  img {
    width: 100%;
    height: 100%;
  }
}
// 活动规则介绍

.tip-rules {
  display: none;
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.7);

  .cont_wrap {
    width: 6.36rem;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0 0.4rem;
    transform: translate(-50%,-50%);
    border-radius: 0.1rem;
    box-sizing: border-box;
    background: #fff;

    .close_tip {
      position: absolute;
      top: 0.27rem;
      right: 0.39rem;
      width: 0.3rem;
      height: 0.3rem;

      img {
        width: 100%;
      }
    }

    h4 {
      font-size: 0.28rem;
      font-weight: normal;
      line-height: 0.84rem;
      color: #333;
    }

    .article {
      // padding: 0.2rem 0.25rem 0.2rem 0.5rem;
      padding: 0.2rem 0.1rem;
      height: 5.08rem;
      box-sizing: border-box;
      border: 1px solid rgb(214,214,214);
      border-radius: 0.06rem;
      background: rgb(237,237,237);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      img {
        width: 100%;
        display: block;
      }

      p {
        padding-bottom: 0.1rem;
        text-indent: -1em;
        line-height: 0.38rem;
        font-size: 0.24rem;
        color: #333;
      }
    }

    .check_rule {
      margin: 0.29rem 0;
      font-size: 0;

      ins {
        display: inline-block;
        vertical-align: middle;
        width: 0.3rem;
        height: 0.3rem;

        &.check_true {
          background: url("../images/allow@2x.png") no-repeat 0 0;
          background-size: 100% 100%;
        }

        &.check_false {
          background: url("../images/weixuanzhong@2x.png") no-repeat 0 0;
          background-size: 100% 100%;
        }

        img {
          width: 100%;
        }
      }

      span {
        font-size: 0.24rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.09rem;
        color: #333;
      }
    }

    .down-app-href {
      display: block;
      margin-left: -0.13rem;
      margin-bottom: 0.3rem;
      font-size: 0.26rem;
      line-height: 1.15rem;
      height: 1.26rem;
      width: 5.83rem;
      text-align: center;
      background: url("../images/button@2x.png") no-repeat 0 0;
      background-size: 100% 100%;
      color: #FFF;
    }
  }
}
// 助力弹框

.alert_success {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 4.14rem;
  height: 1.44rem;
  text-align: center;
  font-size: 0.32rem;
  color: #fff;
  line-height: 1.5em;
  border-radius: 0.16rem;
  background: rgba(0,0,0,0.7);

  p {
    padding: 0 0.15rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.alert_fail {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 4.14rem;
  height: 1.44rem;
  text-align: center;
  color: #fff;
  border-radius: 0.16rem;
  background: rgba(0,0,0,0.7);

  ins {
    display: block;
    width: 0.33rem;
    height: 0.33rem;
    margin: 0.26rem auto 0.2rem;

    img {
      width: 100%;
    }
  }

  p {
    font-size: 0.32rem;
    line-height: 1.5em;
    text-align: center;
  }
}
