*{
	padding: 0;
	margin: 0;
	list-style: none;
}
body {
	background: #111111;
}
.newsTitle{
	font-size: 0.34rem;
	padding: 0 .82rem;
	color: #fff;

}
.TRS_Editor{
	font-size: 0.28rem;
	padding: 0 .82rem;
	color: #fff;
}
.TRS_Editor p{
	line-height: 0.6rem;
}
.newsTitle{
	text-align: center;
	margin-top: 0.3rem;
}
.title_bar{
	text-align: center;
	font-size: 0;
	margin: 0.4rem 0 0.3rem 0;
}
.title_bar img{
	vertical-align: middle;
}
.title_bar span{
	font-size: 0.2rem;
	color: rgb(187,187,187);
	vertical-align: middle;

}
.author{
	margin: 0 0.3rem 0 0.1rem;
}
.clickNum{
	margin-right: 0.3rem;
}
.pub_dates{
	margin-right: 1.66rem;
}