/*导航start*/
.nav-container{
	position: fixed;
    width: 100%;
    top: 0.98rem;
}
.tab{
	width: 100%;
/*	position: fixed;
	top: 0;*/
}
.tab ul{
/*	display:-webkit-box;*/
	font-size: 0.3rem;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
	width: 100%;
	height: 0.8rem;
	border-bottom: 0.01rem solid #ddd;
	/*position: fixed;
	top: 0;*/
	background-color: white;
}
.tab ul li{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.tab ul .tabNav a{
	display: inline-block;
	line-height: 0.8rem;
	color: #999;
	/*margin-left: 0.5rem;*/
}
.tabNav2 a{
	color: #252525;
}

.silder{
	width: 1.2rem;
	height: 0.04rem;
	background-color: #3285EA;
	position: absolute;
	left: 0.5rem;
	/*bottom: 0;*/
	
}
.silder2{
	width: 0.6rem;
	height: 0.04rem;
	background-color: #3285EA;
	position: absolute;
	left: 0.45rem;
}
 .navTab .selected,.navTab2 .selected{
	color: #3285ea!important;
	/*border-bottom: 0.04rem solid #3285EA;*/
}

#commentInfo nav ul{
	margin-left: 0.3rem;
	margin-top: 0.3rem;
}
 #commentInfo nav ul li{
 	color: #999;
    display: inline-block;
    text-align: center;
    line-height: 0.46rem;
    width: 1.4rem;
    height: 0.46rem;
    border-radius: 0.1rem;
    border: 0.01rem solid #999;
    font-size: 0.24rem;
    vertical-align: top;
 }
#commentInfo nav ul li a.selected{
	    color: #3285ea;
    border-color: #3285ea;
}
#commentInfo nav,#commentInfo nav ul{
	height: 0.46rem;

}
.topBar_font{
	font-size: 0.3rem;
}
/*/*导航end*/

.isShow{
	display: block;
}
.isHide{
	display: none;
}

#highchart1,#highchart2,#highchart3,#highchart4,#highchart5,#highchart6{
	display: inline-block;
	width: 1.6rem;
	height: 1.6rem;
	
}
.con1{
	text-align: center;
	margin-top: 0.25rem;
	font-size: 0;
}
.cBox1,.cBox2,.cBox3,.cBox4,.cBox5,.cBox6{
	display: inline-block;
	width: 1.6rem;
	height: 1.6rem;
}
.cBox1,.cBox4{
	margin-right: 0.7rem;
}
.cBox3,.cBox6{
	margin-left: 0.7rem;
}
.highc_p{
	width: 100%;
	height: 0.7rem;
	font-size: 0;
	text-align: center;
}
.highc_p span{
	font-size: 0.26rem;
}
.biaozhu{
	text-align: center;
	font-size: 0.26rem;
	width: 100%;
	margin: 0.3rem 0;
}
.biaozhu{
	display: inline-block;
}

.over_box,.box_less,.box_gw{
	width: 0.2rem;
	height: 0.2rem;
	display: inline-block;
}
.over_box{
	background: #e45555;
}
.box_less{
	background:#399c31;
}
.box_gw{
	background: #999;
}
.gw_color{
	color: #999;

}
.jd_data{
	font-size: 0.26rem;
	text-align: left;
	margin: 0 0.3rem;
	color: #252525;
	padding-bottom: 0.4rem;
	border-bottom:1px solid #dddddd;
}
.list_data_list{
	font-size: 0.26rem;
	border-bottom: 2px solid #ddd;
	padding-bottom: 0.3rem;
	/*padding: 0.4rem 0.3rem 0.3rem 0.3rem;*/
	margin: 0 0.3rem;
}
.bar_chart{
	width: 100%;
	height: 7.5rem;
	background: url(../../../img/img_app/fx168Box_img/react-2@2x.png) no-repeat;
	display: none;
	position: relative;
}
.over1,.over2,.over3,.over4,.over5,.over6{
	margin-right: 0.1rem;
}
.ld_color,.over1,.over2,.over3,.over4,.over5,.over6{
	color: #e45555;
}
.lk_color,.less1,.less2,.less3,.less4,.less5,.less6{
	color: #399c31;
}
.old,.olk{
	/*margin-right: 0.3rem;*/
}
.list_title_left span{
	font-size: 0.3rem;
	color: #3285ea;
	vertical-align: middle;
}
.list_title_left img{
	margin-left: 0.3rem;
	vertical-align: middle;

}
.list_data_list_oli div {
	width: 2.23rem;
	
}
.mid_list_data_list_oli{
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.list_title_right{
	margin-top: 0.4rem;
}
.sjz{
	font-size: 0.24rem;
	color: #3285ea;
	font-weight: bold;
	text-align: right;
}
.yqz{
	font-size: 0.24rem;
	color: #999;
}
.flot{
	color: #252525;
}
.list_title_left{
	/*margin: 0.3rem 0.3rem;*/
	margin-top: 0.4rem;
	 }
.list_con{
	margin-bottom: 0.3rem;
	margin-top: 0.3rem;
	text-align: left;
}
.tabale{
	/*width: 100%;*/
	font-size: 0.24rem;
	border:1px solid #d8e7ff;
	border-left: none;
	color: #252525;
}
.tabale li{
	border-bottom: 1px solid #d8e7ff;
}
.tabale li span{
	display: inline-block;
	width: 24.5%;
	height: 0.5rem;
	line-height: 0.55rem;
	border-left: 1px solid #d8e7ff;
	text-align: center;
}
.tabale2 li span{
	display: inline-block;
	width: 33%;
	height: 0.5rem;
	line-height: 0.55rem;
	border-left: 1px solid #d8e7ff;
	text-align: center;
}
.tr_con{
	height: 0.6rem;
}
.tr_title{
	background: #d8e7ff;
}
.howMuchWrap div span{
	font-size: 0.26rem;
	vertical-align: middle;
}
.howMuchWrap div img{
	vertical-align: middle;
}
.howMuchWrap{
	width: 6.22rem;
	/*padding: 0 0.3rem;*/
	margin: 0 auto;
}
.howMuchWrap_border{
	width:  6.22rem;
	/*height: 0.06rem;*/
	font-size: 0;
	margin: 0 auto;
	position: relative;
}
.boderRed{
	display: inline-block;
	border-radius: 0.06rem;
	width: 56%;
	height: 0.06rem;
	background: #e45555;
}
.borderGreen{
	border-radius: 0.06rem;
	display: inline-block;
	width: 44%;
	height: 0.06rem;
	background: #399c31;
}
.sanjiao{
	/*position: absolute;*/
	margin-top: 0.06rem;
}
.sjiaoWrap{
	position: absolute;
	text-align: center;
	width: 20%;
}
.howMuchWrap_moreLess span{
	font-size: 0.22rem;


}
.howMuchWrap_moreLess{
	text-align: center;
	margin-top: 1.14rem;
}
.ddzb{
	text-align: center;
	font-size: 0.22rem;
	color: #e45555;
	margin-top: 0.1rem;
}
.ddzb2{
	text-align: center;
	font-size: 0.22rem;
	color: #e45555;
	margin-top: 0.1rem;
}
.howMuchWrap_dd,.howMuchWrap_kd{
	margin-left: -0.18rem;
}
.dd,.kd{
	margin-left: -0.26rem;
}
.howMuchWrapCon_title{
	font-size: 0.32rem;
	color: #252525;
	text-align: center;
	padding-top: 0.3rem;
	/*padding-bottom: 0.4rem;*/
}
.transaction_uname{
	font-size: 0.32rem;
	color: #666;
}
.lopzs{
	width: 1.8rem;
	display: inline-block;
}
.lop{
	font-size: 0.3rem;
	color: #252525;
	
}
.transaction_date{
	font-size: 0.24rem;
	color: #999;
}
.transactionList_wrap{
	font-size: 0;
	border-bottom: 1px solid #ddd;
	margin-top: 0.4rem;
	padding-bottom: 0.4rem;
}
.transactionList_wrap li{
	display: inline-block;
}
.transactionList_tx{
	display: inline-block;
	vertical-align: top;
	margin-right: 0.2rem;
}
.transactionCon{
	margin: 0 0.3rem;
}
.transactionList_right{
	width: 85%;
}
.lotsWrap p{
	margin-top: 0.22rem;
}
.lop2{
	margin-left: 0.8rem;
}
.charts_wrap {
	margin-top: 0.25rem;
	text-align: center;
}
.gw_color,.gw3,.gw2,.gw1{
	font-size: 0.24rem;
	color: #999;
}
.isShowLiThird{
	font-size: 0;
}

.dcxinxi_table_title{
	font-size: 0.3rem;
	border-left: 4px solid #3285ea;
	margin: 0.3rem 0.3rem 0.2rem 0.3rem;

}
.dcxinxi_table_title span{
	margin-left: 0.2rem;
}
.dcxinxi_table_title2{
	margin-top: 0.5rem;
}
.organizationWrap{
	font-size: 0.28rem;
	color: #252525;
	margin: 0 0.3rem;
}
.date_arg{
	font-size: 0.24rem;
	color: #3285ea;
	margin-left: 0.14rem;
}
.organization_title{
	margin-bottom: 0.18rem;
}
.organization_con{
	margin-bottom: 0.3rem;
}
.organization_title img,.date_arg{
	vertical-align: middle;
}
.bokerLineWrap{
	width: 100%;
	height: 3rem;
}
.highcharts-range-selector-buttons{
	display: none;
}
.x_date{
	font-size: .2rem;
	color: #ddd;
}
.x_date span:nth-child(1){
	margin-left: 0.6rem;
}
.x_date span:nth-child(2){
	margin-right: 0.1rem;
}
._head{
	width: 0.64rem;
	height: 0.64rem;
	border-radius: 50%;
}
/*.charts_wrap{
	display: none;
}*/
.box_zzc{
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 0.26rem;
	background: white;
	position: fixed;
	top: 0;
	z-index: 99999;
}
/*.highcharts-container {
	height: 160px!important;
	width: 160px!important;

}*/