.teachInfo {
  border-bottom: 0.01rem solid #DDDDDD;
}

.teachContent2 {
  margin-top: 0.25rem;
  margin-left: 0.10rem;
  margin-right: 0.20rem;
  float: left;
}

.teachLogo {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.teachContent {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.28rem;
  float: right;
  width: 5.50rem;
}

.showHidde {
  display: flex;
  width: 100%;
}

.nameInfo {
  font-size: 0.28rem;
  color: #333333;
}

.descInfos {
  font-size: 0.24rem;
  color: #666666;
  text-align: left;
}

.addHidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.addShow {
  overflow: visible;
  height: auto;
}

.head-top {
  font-size: 0;
  .news-title-wrap {
    margin-left: 0.25rem;
  }
}

.head-bottom ul {
  font-size: 0;
  padding: 0.23rem 0;
  li {
    margin: 0 1.5%;
  }
}

#articleInfo nav ul {
  font-size: 0;
  li:last-child {
    margin-left: 0.25rem;
  }
}
