*{
    margin: 0;
    padding: 0;
    list-style: none;
     -webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-overflow-scrolling:touch;overflow-scrolling:touch;
}
a{
    text-decoration: none;
}

html{
	font-family: HelveticaNeue,"\5FAE\8F6F\96C5\9ED1";
    font-size: 625%;
}
body,html{
    height: 100%;
}

.wrap{
	position: fixed;
  top: 0;
  z-index: 99;
	width: 100%;
	height: 0.98rem;
  background: url(../img/img_h5_v.2.0/logo@2x.png) no-repeat ;
  background-color: #262e38;
  background-position: 0.16rem 0.04rem;

}
.open_wrap{
  width: 1rem;
  height: 0.52rem;
  font-size: 0.28rem;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 0.72rem;
  text-align: center;
  line-height: 0.5rem;
  border: 2px solid #fff;
  border-radius: 4px;
  top: 0.16rem;

}
.close{
    position: absolute;
    right: 0.02rem;
   vertical-align: top;
   top: 0.16rem;
}
.wrap_a{
  display: inline-block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.titleBar,.titleBar1{
	width: 100%;
	height: 0.88rem;
	background-color: #262E38;
	font-size: 0.38rem;
	color: #fff;
	text-align: center;
	line-height: 0.84rem;
	/*position: fixed;*/
	
}

.logo{
	width: 2.02rem;
	height: 0.38rem;
	text-align: center;
	margin-top: 0.25rem;
}
.search{
	width: 0.28rem;
	height: 0.28rem;
	position: fixed;
	right: 0.18rem;
	top: -0.33rem;
	/*display: inline-block;*/
	z-index: 1000;
}

/*tab选项卡 start*/

.swiper-slide{
  margin-right: 0!important;
    float: right;
}

a {
    text-decoration: none;
}
.find_nav {
    width: 100%;
    height: 0.8rem;
    background-color: #f9f9f9;
    position: fixed;
    top: 0.88rem;
    z-index: 99;
    border-bottom: 0.01rem solid #ddd;
    display: -moz-box;
    display: -webkit-box;
    display: box;
}
.find_nav_left {
    height: 0.81rem;
    position: relative;
    overflow: hidden;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.find_nav_list {
  
    position: absolute;
    left: 0;
}

.find_nav_list ul {
	height: 0.8rem;
    position: relative;
    white-space: nowrap;
    font-size: 0;
}
.find_nav_list ul li {
    display: inline-block;
   /* padding: 0.16rem 0.3rem;*/
}
.find_nav_list ul li a {
   padding: 0.16rem 0.3rem;
    display: block;
   /* width: 100%;*/
    height: 100%;
    line-height: 0.46rem;
    font-size: 0.3rem;
    text-align: center;
    color: #999;
}
.find_nav_cur a {

    color: #3285ea !important;
}
.sideline {
    display: block;
    position: absolute;
    border: 0;
    height: 0.04rem;
    background-color: #48a5f4;
    left: 0;
    top: 0.78rem;
    pointer-events: none;
    
}
.search_logo {
    display: block;
    width: 0.44rem;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    font-size: 0.14rem;
    color: #48a5f4;
}

/*tab选项卡 end*/

.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 0.98rem;
	background-color: #262E38;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
	z-index: 100;
  margin: 0 auto;
}

.footer span{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
	font-size: 0.2rem;
	text-align: center;
	display: block;
	color: #a6aebb;

}

.swiper-wrapper {
	/*border: 1px solid red;*/
    width: 100%;
    /*height: 3.0rem;*/
    margin-top: 1.26rem;
}  
.bannerSlide1 img{
	width: 100%;
	height: 4.46rem;
}
.bannerSlide2 img{
	width: 100%;
	height: 4.46rem;
}
.bannerSlide3 img{
	width: 100%;
	height: 4.46rem;
}
.slide_font-wrapper{
  width: 3.75rem;
}

.slide_font{
  height: 0.64rem!important;
  position: absolute;
  top: 3.82rem;
  z-index: 8888;
  width: 100%;
  opacity: 0.7;
  background-color: #000;
  opacity: 0.7;
  font-size: 0.24rem;
 /* line-height: 0.60rem;*/
 /*display: flex;
  flex-direction: column;
  justify-content: space-around;*/
}
.swiper-container1{
  position: relative;
}
.myswiper-pagination {
 text-align: right!important;
  z-index: 555;
}
.slide_font span{
	width: 70%;
	/*position: absolute;*/
	background-color: #000;
  margin-top: 0.15rem;
	/*opacity: 0.7;*/
	color: #fff;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
  padding-left: 0.2rem;

}
.banner{
	height: 4.74rem;
/*	position: relative;
	top: 1.68rem;*/
}
.slide_font-wrapper,.swiper-wrapper{
	margin-top: 0;
}
.swiper-container2{
	height: 0.64rem;
	position: absolute;
	bottom: 0.9rem;
}


#wrapper{
	height: 13.34rem!important;
}

#pullDown, #pullUp {
   background:#fff;
   height:0.44rem;
   line-height:0.44rem;
   /*padding:5px 10px;*/
   border:1px solid red;
   font-weight:bold;
   font-size:0.36rem;
   color:#888;
    text-align: center;
  }
  #pullDown .pullDownIcon, #pullUp .pullUpIcon {
   display:block;
   float:left;
   width:40px; 
   height:40px;
   -webkit-background-size:40px 80px; 
   background-size:40px 80px;
   -webkit-transition-property:-webkit-transform;
   -webkit-transition-duration:250ms; 
  }
  #pullDown .pullDownIcon {
   -webkit-transform:rotate(0deg) translateZ(0);
  }
    #pullDown .pullDownIcon {
   -webkit-transform:rotate(0deg) translateZ(0);
  }
  #pullUp .pullUpIcon {
   -webkit-transform:rotate(-180deg) translateZ(0);
  }
 .dropload-down{
  /*position: relative;
  top: 1.5rem;*/
  /*padding-bottom: 1.0rem;*/
  /*margin-top: 1.5rem;*/
  line-height: 0.76rem;
  text-align: center;
  font-size: 0.28rem;
 }


 .upWrap{
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 1.68rem;
  z-index: 10000;
  text-align: center;
  font-size: 0.3rem;
 }
 .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0.24rem!important;
 }


