.advertisement{
	
	position: relative;
	width: 100%;
	height: 2.0rem;
	border-bottom: 0.4rem solid #EAEAEA;
}
.img_star{
	background: url(../img/biaoqian@2x.png);
	width: 2.4rem;
	height: 0.58rem;
	margin-top: -0.2rem;
	position: relative;
	z-index: 101;


}
.img_star span{
	font-size: 0.32rem;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	margin-top: 0.08rem;
	margin-left: 0.7rem;


}
.mid_wrap{
	height: 1.9rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 0.3rem;

	
}

.mid_title{
	line-height: 0.32rem;
	font-size: 0.32rem;
	color: #1e1e1e;
	margin-top: 0.3rem;
}
.biaoqian{
	height: 0.5rem;
	margin-top: 0.26rem;
}
.biaoqian span{
	height: 0.31rem;
	display: inline-block;
	vertical-align: top;
	margin-right: 0.12rem;
	border: 0.01rem solid #999;
	font-size: 0.22rem;
	color: #999;
	border-radius: 0.05rem;
	padding: 0 0.1rem;
	line-height: 0.31rem;
}
.tile-img img{
	border: 0.01rem solid #DDDDDD;
	width: 1.5rem;
	height: 1.5rem;

}
.tile-img{
	margin-top: 0.26rem;
	margin-right: 0.3rem;
}
.mid-star img{

	vertical-align: top;

	margin-left: -0.3rem;
}
.mid-star img:nth-child(1){
	margin-left: 0;
}
.mid-star{
	width: 1.2rem;
	height: 0.24rem;
	background: url(../img/xingxing.png);
	/*background-position: 0 -0.34rem;*/
	line-height: 0;
	margin-top: 0.26rem;
}
.con-font{
	/*border: 0.01rem solid red;*/
	font-size: 0.24rem;
	color: #888;
	padding: 0 0.3rem;
	/*margin-top: 0.26rem;*/
	/*height: 0.62rem;*/
	overflow: hidden;
	/*word-break: break-all;
	text-overflow: ellipsis;*/
}
.zk-font{
	display: none;
	font-size: 0.22rem;
	color: #999;
	text-align: center;
	margin-top: 0.26rem;
	padding-bottom: 0.3rem;
}
.zk-font img{
	vertical-align: middle;
}
.sort{
	background: #fff;
	width: 100%;
	border-bottom: 0.01rem solid #DDDDDD;
	border-top: 0.2rem solid #EAEAEA;
	position: relative;

}
.sort ul{
	border-bottom: 0.01rem solid #ddd;
	background: #fff;
	/*width: 7.5rem;*/
	width: 100%;
	height: 0.8rem;
	font-size: 0.26rem;
	color: #333;
	
}
.sort ul li img{
	vertical-align: middle;
	display: inline-block;
}
.zh{
	display: inline-block;
	margin-right: 0.12rem;
	margin-left: 0.3rem;
}
.sx{
	display: inline-block;
	margin-left: 0.12rem;
	margin-right: 0.3rem;
}
.sort ul li{
	line-height: 0.85rem;
}


/*经纪商列表*/
.bgStar_Wrap{
	display: none;
	background: url(../img/star@2x.png) no-repeat;
	/*background-origin:;*/
	background-position:right;
}
.commission_wrap{
	padding: 0.2rem 0.3rem;
	
}
.commission_inner{
	border-bottom: 0.01rem solid #DDDDDD;
	padding-bottom: 0.2rem;
}
.commission_wrap li{
	position: relative;
	display: flex;
	flex-direction: row;


}
.tile_img{
	border: 0.01rem solid #DDDDDD;
	width: 1.8rem;
	height: 1.8rem;
}
.tile_img img{
	width: 1.8rem;
	height: 1.8rem;
}
.brokerNameList{
	display: inline-block;
	margin-top: 0.12rem;
	font-size: 0.32rem;
	/*color: #ff8e00;*/
	/*margin-left: 0.12rem;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow;
}
.spread{
	line-height: 0.24rem;
	font-size: 0.24rem;
	color: #999;
	
}
.spread_wrap{
	/*display: flex;
	flex-direction: column;
	justify-content: space-around;*/
}
.spread1{
	margin-top: 0.2rem;
}
.spread2{
	margin-top: 0.1rem;
}
.keyWordsList{
	line-height: 0.32rem;
	height: 0.32rem;
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.21rem;
	padding-bottom: 0.2rem;
	border-bottom: 0.01rem solid #ddd;
}
.keyWordsList span{
	display: inline-block;
	font-size: 0.22rem;
	border-radius: 0.05rem;
	border: 0.01rem solid #999;
	padding: 0 0.1rem;
	margin-right: 0.1rem;
	color: #999;
}
.goal{
	position: absolute;
	top: 0;
	right: 0rem;
}
.goalList{
	font-size: 0.38rem;
	color: #3285ea;
	font-weight: bold;
	margin-right: 0.12rem;
}
.goal-font{
	font-size: 0.22rem;
	color: #999;
}
.commission_middle{

	margin-left: 0.2rem;
	flex:4;
}
.keyWordsList span{
	display: none;
}

.tj{
	width: 0.6rem;
	height: 0.3rem;
	margin-top: 0.09rem;
	margin-right: 0.12rem;
}
.dropload-load,.dropload-noData{
	font-size: 0.24rem;
}
.gg_font a{
	position: relative;
}
.gg_font{
	position: absolute;
	/*top: 0.34rem;*/
	display: inline-block;
	font-size: 0.24rem;
	margin-left: 0.12rem;
	/*margin-bottom: 0.4rem;*/
	vertical-align: top;
	/*vertical-align: bottom;*/
}
.resultgg{
	/*display: flex;
	flex-direction: row;*/
	/*line-height: 0;*/
}
.resultgg a{
	color: #666;
}
.gg_img{
	/*margin-top: 0.2rem;*/
	vertical-align: top;
}
.bannerSlide1{
	width: 100%;
	height: 2.0rem;
	/*border: 0.01rem solid red;*/
}
.bg_gg{
	width: 0.5rem;
	height: 0.3rem;
	background: url(../img/ad@2x.png);
	position: absolute;
	top: 0.2rem;
	right: 0;
	z-index: 100;
	font-size: 0.2rem;
	color: #fff;
	text-align: right;
}
.swiper-pagination-bullet{
	width: 0.14rem!important;
	height: 0.14rem!important;
	background: #000!important;
	opacity: 0.3!important;
}
.swiper-pagination-bullet-active{
	background: #fff!important;

}
.swiper-pagination{
	margin-left: 3rem;
	line-height: 0;
	width: 20%!important;
	bottom: 0.3rem!important;
}
.qjd{
	width: 0.74rem;
	height: 0.24rem;
	margin-top: 0.14rem;
	margin-left: 0.1rem;
}

