*{
    margin: 0;
    padding: 0;
    list-style: none;
     
   /* box-sizing: border-box;*/
     -webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-overflow-scrolling:touch;overflow-scrolling:touch;
}
h1{
	display: none;
}
a{
    text-decoration: none;
}
html{
	font-family: HelveticaNeue,"\5FAE\8F6F\96C5\9ED1";
    font-size: 625%;
}
body,html{
    height: 100%;
}




/*新闻列表 start*/


.index_content{
	width: 100%;

}
.forex_content{
	 width: 100%;

}
#content{
    width: 100%;
}
.about_news{
	padding-top: 0.84rem;
}
.news_tile_p,.news_tile_p2{
	font-size: 0.32rem;
}
.new_bt_p1,.new_bt_p2,.new_bt_p12,.new_bt_p2{
	/*font-family:"Microsoft YaHei"!important;*/
	font-size: 0.24rem;
}
.odiv,.odiv2{
	display: inline-block;
    /* float: right; */
    width: 63%;
    vertical-align: top;
    margin-left: 0.2rem;
}
.oli,.oli2{

	display: inline-block;
	overflow: hidden;
	width: 100%;
	border-bottom: 0.01rem solid #ddd;
	padding-bottom: 0.2rem;	
	padding-top: 0.2rem;
}

.newImg,.newImg2{
	float: left;
	width: 2.0rem;
	height: 1.32rem;
	margin-left: 0.2rem;
}
.new_bt,.new_bt2{

	overflow: hidden;
    position: absolute;
    /* bottom: 0; */
    /* margin-top: 0.2rem; */
    bottom: 0;
    width: 100%;
}
.newsTitle,.newsTitle2{
	position: relative;
	height: 1.32rem;
	color: #252525;
}
.new_bt_p1{
	float: left;
}
.new_bt_p2{
	float: right;
}
.new_bt_p1,.new_bt_p12{
	margin-left: 0;
	color: #888;
	font-size: 0.24rem;
}
.new_bt_p2,.new_bt_p22{
	color: #888;
	font-size: 0.24rem;

}
.clickimg,.clickimg2{
	margin-right: 0.1rem;
}

/*.swiper-pagination-bullet-active{
	background-color: white;
}*/
.myGjs .dropload-down{
	top: 0!important;
}
.moudle{
	height: 1.79rem;
}
.moudle_footer{
	height: 0.98rem;
}