/*body{
	background-color: #eee;
}*/
.flag_wrap{
	/*position: relative;
	top: 1.94rem;*/
	width: 100%;
	/*height: 4.1rem;*/
	border-bottom: 0.2rem solid #eee;
	/*margin-top: 1.94rem;*/
	margin-bottom: 0.2rem;
	
}

.flag_wrap img{
	width: 0.85rem;
	height: 0.85rem;
}
.flag_wrap p{
	/*display: block;*/
	color: #888;
	font-size: 0.28rem;
	text-align: center;
/*	margin-top: 0.28rem;*/
}
.flag_wrap a{
	display: inline-block;
	/*display: flex;
	flex-direction: column;
	justify-content: space-between;*/
}
.fg_top{
	margin-top: 0.2rem;
	  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
     -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
     -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fg_top a{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	display: block;
	text-align: center;
	/*margin-left: 0.82rem;*/
	/*display: flex;
	flex-direction: row;
	justify-content: space-around;*/
}

.fg_bottom{
	margin: 0.2rem 0rem;
	  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
     -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
     -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fg_bottom a{
	text-align: center;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	display: block;
}